# Environment
.env
*.env
*.local
*.json

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environments
.venv/
venv/
env/

# PyIntaller build
build/
dist/
*.spec

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.iml